@import "tailwindcss";



body {
  background-color: #0b0f14;
  color: white;
  -webkit-font-smoothing: antialiased;
}

.glass {
  background: rgba(255,255,255,0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0,255,255,0.15);
}

.shadow-glow {
  box-shadow: 0 0 12px rgba(0,255,255,0.4);
}